.exercise-title {
  margin: 20px;
  text-align: center;
  margin-bottom: 2rem;
}

.exercise-page {
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.exercise-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.exercise-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 8px;
  width: 500px;
  max-width: 500px;
  background-color: #52504f;
  border-radius: 20px;
  padding: 1rem;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.exercise-item:not(.selected) {
  max-width: 500px;
}

.exercise-item.selected {
  max-width: 500px;
  opacity: 1;
  background-color: #807b7b;
  filter: none;
}

.exercise-item:hover {
  background-color: #807b7b;
}

.exercise-page h2 {
  background: transparent;
  text-align: center;
}

.exercise-item h2 {
  color: orangered;
  font-weight: bold;
}

.exerciseDescription {
  background: transparent;
  text-align: justify;
  padding: 0.5rem;
}

link {
  text-decoration: none;
}

.expand-button {
  background-color: transparent;
  border: none;
  color: #bebebe;
  cursor: pointer;
  font-size: 1rem;
  font-weight: normal;
  padding: 0.5rem;
  transition: color 0.2s ease-in-out;
}

.expand-button:hover {
  color: #fff;
}

.setandReps {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
  background: transparent;
  border-radius: 10px;
  padding: 0.5rem;
}

.images {
  margin-top: 1rem;
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.exercise-search {
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
