.exercise-page {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.exercise-title {
  margin-top: 10px;
  text-align: center;
}

.exercise-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.exercise-item {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 8px;
  width: 500px;
  max-width: 500px;
  background-color: #52504f;
  border-radius: 20px;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.exercise-item:not(.selected) {
  max-width: 500px;
}

.exercise-item.selected {
  max-width: 500px;
  opacity: 1;
  background-color: #807b7b;
  filter: none;
}

.exercise-item:hover {
  background-color: #807b7b;
}

.exercise-item h2 {
  color: orangered;
  font-weight: bold;
  background: transparent;
  text-align: center;
  padding: 0.5rem;
}

.exerciseDescription {
  background: transparent;
  text-align: justify;
  margin-bottom: 1rem;
  font-weight: bold;
}

.images {
  margin-top: 1rem;
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.exerciseSearch {
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  width: 200px;
}

.exerciseSearch input {
  background: transparent;
  border-bottom: 3px solid orangered;
  color: white;
  font-size: 1rem;
  text-align: center;
}

.images-container {
  width: 420px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  margin-bottom: 1rem;
}

.images-container img {
  width: 200px;
  border-radius: 30px;
  box-shadow: 5px 5px 20px rgba(247, 241, 241, 0.5);
}
.reps-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: transparent;
}

.reps-container h4 {
  background: transparent;
  color: white;
  font-weight: bold;
  text-align: center;
}

.reps {
  background: transparent;
  color: white;
  font-weight: bold;
  text-align: center;
}

.reps-text {
  background: transparent;
}

.reps-text span {
  background: transparent;
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 1.5rem;
  font-style: italic;
}
