.carousel {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
}

.carousel img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

@media (max-width: 768px) {
  .carousel {
    height: auto;
  }

  .carousel img {
    width: 100%;
    object-fit: contain;
  }
}
