/* CreateWorkout.css */

.form-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
}

.form-container h1 {
  font-size: 24px;
}

.error-message {
  font-size: 16px;
  color: #ff0000; /* Error message color */
}

.selected-exercises,
.available-exercises {
  padding: 30px;
  margin-bottom: 30px;
}

.selected-exercises h2,
.available-exercises h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.exercise-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(200px, 1fr)
  ); /* Adjust column width as needed */
  gap: 20px; /* Adjust gap between items */
}

.exercise-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.exercise-box.selected {
  background-color: orange;
}

.exercise-box label {
  color: inherit; /* Use the parent's text color */
  background-color: transparent; /* Set background color to transparent */
}
