/* CreateWorkout.css */

.form-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
}

.form-container h1 {
  font-size: 24px;
}

.error-message {
  font-size: 16px;
  color: #ff0000; /* Error message color */
}

.selected-exercises,
.available-exercises {
  padding: 30px;
  margin-bottom: 30px;
}

.selected-exercises h2,
.available-exercises h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.exercise-list li {
  margin-bottom: 10px;
}

.create-workout-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff; /* Button background color */
  color: #fff; /* Button text color */
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}
.exercise-container{
  display: flex;
  justify-content: space-between;
}
.exercise-box{
  border: #cccccc 1px solid;
  padding: 10px;
  margin-bottom: 20px;
  width: 200px;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}

