.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid white;
  padding: 20px;
  border-radius: 30px;
  width: 450px;
  height: 300px;
  box-shadow: 3px 3px 20px rgba(247, 241, 241, 0.5);
}

input {
  padding: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  border: 0.1px solid white;
  border-radius: 10px;
  background-color: transparent;
  color: white;
  width: 97%;
}

label {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-bottom: 10px;
}

a {
  color: #fff;
  text-decoration: none;
  margin: 10px;
  padding: 5px;
}

a:hover {
  color: black;
  text-decoration: none;
  background-color: white;
  border-radius: 20px;
  padding: 5px 20px;
}

.signup-link {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button:hover {
  padding: 10px;
  margin-top: 20px;
  border: 0.1px solid white;
  border-radius: 10px;
  width: 100%;
  background-color: transparent;
  color: white;
}
