/* Navbar.css */
* {
  font-weight: 500;
}

nav {
  color: #fff;
  padding: 1rem;
  height: 60px;
  align-content: center;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  padding: 5px;
}

li:last-child {
  margin-right: 0;
}

a {
  color: #fff;
  text-decoration: none;
  margin: 10px;
  padding: 5px;
}

a:hover {
  color: black;
  text-decoration: none;
  background-color: white;
  padding: 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  border-radius: 10px;
  width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-item {
  margin: 5px;
  padding: 5px;
  color: #000; /* Text color for dropdown items */
}

.dropdown-item:hover {
  background-color: #f0f0f0; /* Hover background color for dropdown items */
}
