/* Navbar.css */
* {
  font-weight: 500;
}

nav {
  color: #fff;
  padding: 1rem;
  height: 60px;
  align-content: center;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  padding: 5px;
}

li:last-child {
  margin-right: 0;
}

a {
  color: #fff;
  text-decoration: none;
  margin: 10px;
  padding: 5px;
}

a:hover {
  color: black;
  text-decoration: none;
  background-color: white;
  border-radius: 20px;
  padding: 5px;
}
