.logoContainer {
  display: flex;
  align-items: center;
  gap: 15px;
}
.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.navbarContainer a,
li {
  margin: 2px 5px;
  font-weight: bold;
}

.navbarContainer li {
  cursor: pointer;
}

.navbarContainer li:hover {
  color: orangered;
}

.navbarContainer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  list-style: none;
  padding: 0;
}

.title {
  font-size: 1.2rem;
}

.logo {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.link {
  text-decoration: none;
  text-align: left;
}

.dropdown {
  display: none;
  position: absolute;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 10px;
  width: 100px;
  height: 110px;
  border-radius: 5px;
  box-shadow: 3px 3px 20px rgba(247, 241, 241, 0.5);
  border: 1px solid white;
}

@media (max-width: 768px) {
  .link {
    font-size: 0.9rem;
  }

  .link:hover {
    font-size: 0.9rem;
  }
}
