/* NewExercisePage.css */

.form-container {
    max-width: 600px;
    margin:  auto;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
  }
  
  .form-container h1 {
    text-align: center;
    font-size: 30px;
    color: #bebebe;
  }
  
  .form-container label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #b1b0b0;
  }
  
  .form-container input,
  .form-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #fdfdfd;
    border-radius: 4px;
  }
  
  .form-container button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }
  
  .custom-button {
    background: linear-gradient(45deg, orange, red);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px; /* Optional: Add border radius for rounded corners */
  }

  /* Optional: Add hover effect */
  .custom-button:hover {
    opacity: 0.8;
    background: linear-gradient(45deg, orange, #ff0000);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px; /* Optional: Add border radius for rounded corners */
  }
  

  