.passwordChangeContainer {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: poppins, sans-serif;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 0.5px solid white;
  border-radius: 30px;
  width: calc(90% - 40px);
  max-width: 800px;
  box-shadow: 3px 3px 20px rgba(247, 241, 241, 0.5);
}

.passwordChangeContainer h2 {
  margin-bottom: 20px;
  padding: 0;
}

.inputContainer {
  margin-top: 5px;
  width: 100%;
  color: black;
  border: none;
  border-radius: 5px;
  padding: 5px;
}

.button {
  background-color: white;
  color: black;
  border: none;
  margin-top: 15px;
  padding: 5px 7px;
  border-radius: 10px;
  font-weight: normal;
  font-size: 1.1rem;
}

.button:hover {
  cursor: pointer;
  background: linear-gradient(to right, orange, orangered);
  color: white;
  border: none;
  margin-top: 15px;
  padding: 5px 7px;
  border-radius: 10px;
  font-weight: normal;
  font-size: 1.1rem;
}
