.signupContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signupTitle {
  margin-top: 20px;
  margin-bottom: 20px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 0.5px solid white;
  border-radius: 30px;
  width: calc(90% - 40px);
  max-width: calc(700px - 40px);
  box-shadow: 3px 3px 20px rgba(247, 241, 241, 0.5);
}

form {
  width: 100%;
}

.buttonSignup {
  color: #fff;
  text-decoration: none;
  margin: 10px;
  padding: 5px;
  background-color: transparent;
  border: 0.5px solid white;
  border-radius: 20px;
  width: 100%;
}

.buttonSignup:hover {
  color: black;
  text-decoration: none;
  margin: 10px;
  padding: 5px;
  background-color: rgb(224, 248, 7);
  border: 0.5px solid white;
  border-radius: 20px;
  width: 100%;
}
