.profileContainer {
  margin: 20px auto;
  padding: 20px;
  max-width: 800px;
  font-family: poppins;
}

.profileHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.profileContainer li {
  list-style: none;
  margin-bottom: 10px;
  font-weight: normal;
}

.profileInfo {
  border: 1px solid white;
  border-radius: 30px;
  box-shadow: 3px 3px 20px rgba(247, 241, 241, 0.5);
  padding: 20px;
}

.passwordChangeBtn {
  font-family: poppins, sans-serif;
  color: black;
  border: none;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 5px 7px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.1rem;
  text-decoration: none;
}

.passwordChangeBtn:hover {
  cursor: pointer;
  background: linear-gradient(to right, orange, orangered);
  font-family: poppins, sans-serif;
  color: white;
  border: none;
  margin-top: 30px;
  padding: 5px 7px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.1rem;
  text-decoration: none;
  margin-bottom: 30px;
}
