* {
  margin: 0;
  padding: 0;
  background-color: #313030;
  color: rgb(255, 255, 255);
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* border: 1px solid white; */
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

button {
  background-color: white;
  color: black;
  border: none;
  margin: 0px;
  padding: 5px 7px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.1rem;
}

button:hover {
  cursor: pointer;
  background: linear-gradient(to right, orange, orangered);
  color: white;
  border: none;
  margin: 0px;
  padding: 5px 7px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.1rem;
  margin-top: 5px;
  text-decoration: none;
}

a {
  color: white;
  border: none;
  margin: 0px;
  padding: 5px 7px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.1rem;
  margin-top: 5px;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  background: linear-gradient(to right, orange, orangered);
  color: white;
  border: none;
  margin: 0px;
  padding: 5px 7px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.1rem;
  margin-top: 5px;
  text-decoration: none;
  text-align: left;
}

link {
  color: white;
  border: none;
  margin: 0px;
  padding: 5px 7px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.1rem;
  margin-top: 5px;
  text-decoration: none;
}

link:hover {
  cursor: pointer;
  background: linear-gradient(to right, orange, orangered);
  border: none;
  margin: 0px;
  padding: 5px 7px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.1rem;
  margin-top: 5px;
  text-decoration: none;
  text-align: left;
}
